body {
    background-color: rgb(107, 85, 85);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.board-container {
    margin: auto;
}

.cell {
    font-size: 1.2em;
    width: 1.5em;
    height: 1.5em;
}

.modal {
    background-color: rgb(105, 6, 6);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px;
    width: 300px;
    transform: translate(-50%, -50%);
    border: 2px solid grey;
}

.hide {
    display: none;
}

.modal button {
    background-color: blanchedalmond;
    border-radius: 7px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
}

.modal button:hover {
    cursor: pointer;
    background-color: white;

}

.start-game {
    border-radius: 5px;
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
}

.start-game:hover {
    background-color: white;
    cursor: pointer;
}

.restart {
    border-radius: 5px;
    background-color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
}

.restart:hover {
    background-color: white;
    cursor: pointer;
}