body {
    background-color: rgb(107, 85, 85);
    text-align: center;
}

.board-container {
    margin: auto;
}

.cell {
    /* background-color: black; */
    font-size: 1.2em;
    width: 2em;
    height: 2em;
}